@{
    ViewData["Title"] = "Home page - ";
}
@using SOHU.Data.DataTransferObject
@using SOHU.Data.Models
@using SOHU.Data.Respositories
@using SOHU.Data.Helpers
@inject IConfigRespository _configRespository
<div class="container-fluid px-0">
    @{
        var carousel = _configRespository.GetByCodeToList(AppGlobal.CarouselCode);
        @Html.Partial("~/views/Home/_Carousel.cshtml", carousel);
    }
</div>
<div class="container py-2">
    <div class="row">
        <div id="NewProduct">
            <h3 class="text-primary"><b>NEW PRODUCTS</b></h3>
        </div>
    </div>
    <div class="row">
        <div id="TopProduct" class="d-block">
            <h3 class="text-primary"><b>TOP PRODUCTS</b></h3>
        </div>
    </div>
    <div class="row">
        <div id="SaleProduct" class="d-block">
            <h3 class="text-primary"><b>SALE PRODUCTS</b></h3>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(() => {
        GetNewProducts();
    });

    function GetNewProducts() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("NewProducts","Product")",
            data: {
                PageSize: @AppGlobal.ProductPageSize,
            },
            success: (res) => {
                $("#NewProduct").append(res);
            }
        });
    }

    function GetTopProducts() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("TopProducts","Product")",
            data: {
                PageSize: @AppGlobal.ProductPageSize,
            },
            success: (res) => {
                $("#TopProduct").append(res);
            }
        });
    }

    function GetSaleProducts() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("SaleProducts","Product")",
            data: {
                PageSize: @AppGlobal.ProductPageSize,
            },
            success: (res) => {
                $("#SaleProduct").append(res);
            }
        });
    }
</script>
