@{
    ViewData["Title"] = "Product detail - ";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model SOHU.Data.Models.Product
@using SOHU.Data.Helpers
@using SOHU.Data.Models
@using SOHU.Data.DataTransferObject
<script src="~/ckeditor/ckeditor.js"></script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product information</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>System</a></li>
                    <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Product">Product</a></li>
                    <li class="breadcrumb-item active"><a asp-action="Detail" asp-controller="Product" asp-route-ID="@Model.Id">@Model.Title</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100" style="overflow-x:auto;">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="toolbar">
                            <button class="btn btn-primary" onclick="onSaveChange()"><i class="fas fa-save text-white"></i></button>
                            <a class="btn btn-dark" asp-action="Index" asp-controller="Product"><i class="fas fa-arrow-left"></i></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="productInfor">
                        @Html.HiddenFor(Model => Model.Id)
                        @Html.HiddenFor(Model => Model.DateCreated)
                        @Html.HiddenFor(Model => Model.DateUpdated)
                        @Html.HiddenFor(Model => Model.UserCreated)
                        @Html.HiddenFor(Model => Model.UserUpdated)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Title</label>
                                    @Html.TextBoxFor(Model => Model.Title, new { @class = "form-control", placeholder = "Title" })
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select id="CategoryId" data-selected="@Model.CategoryId" asp-for="CategoryId" class="form-control select2" style="width: 100%;">
                                        <option selected value='0'>Parent</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="name">URL</label>
                                    @Html.TextBoxFor(Model => Model.Urlcode, new { @class = "form-control", placeholder = "URL" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Note</label>
                                    @Html.TextBoxFor(Model => Model.Note, new { @class = "form-control", placeholder = "Note" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Image</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @Html.TextBoxFor(Model => Model.Image, new { @class = "form-control", placeholder = "Image" })
                                        <a class="btn btn-primary w-100 text-white ml-2" style="flex-basis: 20%;" id="BrowserImage"><i class="fas fa-folder-open"></i></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name">Price</label>
                                    @Html.TextBoxFor(Model => Model.Price, new { @class = "form-control", placeholder = "Price" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Meta title</label>
                                    @Html.TextBoxFor(Model => Model.MetaTitle, new { @class = "form-control", placeholder = "Meta title" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Meta keyword</label>
                                    @Html.TextBoxFor(Model => Model.MetaKeyword, new { @class = "form-control", placeholder = "Meta keyword" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Meta description</label>
                                    @Html.TextBoxFor(Model => Model.MetaDescription, new { @class = "form-control", placeholder = "Meta description" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Tags</label>
                                    @Html.TextBoxFor(Model => Model.Tags, new { @class = "form-control", placeholder = "Meta description" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Image thumbnail</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        @Html.TextBoxFor(Model => Model.ImageThumbnail, new { @class = "form-control", placeholder = "Image thumbnail" })
                                        <a class="btn btn-primary w-100 text-white ml-2" style="flex-basis: 20%;" id="BrowserImageThumbnail"><i class="fas fa-folder-open"></i></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Price unit</label>
                                    <select id="PriceUnitID" data-selected="@Model.PriceUnitID" asp-for="PriceUnitID" class="form-control select2" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Description</label>
                                    @Html.TextAreaFor(Model => Model.Description, new { @class = "", rows = "10", cols = "80" })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Content</label>
                                    @Html.TextAreaFor(Model => Model.ContentMain, new { @class = "", rows = "10", cols = "80" })
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(() => {
        $('#CategoryId').select2({
            theme: 'bootstrap4',
        });
        $('#PriceUnitID').select2({
            theme: 'bootstrap4',
        });
    })

    CKEDITOR.replace('ContentMain', {
        filebrowserImageBrowseUrl: "@Url.Action("Index","File")",
    });

    CKEDITOR.replace('Description', {
        filebrowserImageBrowseUrl: "@Url.Action("Index","File")",
    });

    $('#productInfor').on('submit', function () {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });

    function onSaveChange() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        $.ajax({
            type: 'POST',
            url: "@Url.Action("SaveChange","Product")",
            data: $("#productInfor").serialize(),
            success: (res) => {
                var messageType = res.split('-')[0];
                var note = res.split('-')[1];
                Notify(messageType.trim(), note);
            }
        });
    }

    function Notify(type, message) {
        switch (type) {
            case "success":
                toastr.success(message);
                break;
            case "info":
                toastr.info(message);
                break;
            case "error":
                toastr.error(message);
                break;
            case "warning":
                toastr.warning(message);
                break;
        }
    }
</script>
<script>
    $(document).ready(() => {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetByCodeToList", "Config")",
            data: {
                Code: '@AppGlobal.CategoryCode',
            },
            success: (res) => {
                let dropDown = $('#CategoryId');
                let selectID = $(dropDown).attr('data-selected');
                $.each(res, (index, item) => {
                    if (item.Id == selectID) {
                        dropDown.append("<option value='" + item.Id + "' selected>" + item.CodeName + "</option>");
                    }
                    else {
                        dropDown.append("<option value='" + item.Id + "'>" + item.CodeName + "</option>");
                    }
                });
            }
        });

        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetByCodeToList", "Config")",
            data: {
                Code: '@AppGlobal.PriceUnit',
            },
            success: (res) => {
                let dropDown = $('#PriceUnitID');
                let selectID = $(dropDown).attr('data-selected');
                $.each(res, (index, item) => {
                    if (item.Id == selectID) {
                        dropDown.append("<option value='" + item.Id + "' selected>" + item.CodeName + "</option>");
                    }
                    else {
                        dropDown.append("<option value='" + item.Id + "'>" + item.CodeName + "</option>");
                    }
                });
            }
        })
    })
</script>
