@{
    ViewData["Title"] = "Membership information - ";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@model SOHU.Data.Models.Membership
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Membership information</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>System</a></li>
                    <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Membership">Membership</a></li>
                    <li class="breadcrumb-item active"><a asp-action="Detail" asp-controller="Membership" asp-route-ID="@Model.Id">@Model.FullName</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100" style="overflow-x:auto;">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="toolbar">
                            <button class="btn btn-primary" onclick="onSaveChange()"><i class="fas fa-save text-white"></i></button>
                            <a class="btn btn-dark" asp-action="Index" asp-controller="Membership"><i class="fas fa-arrow-left"></i></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="configInfor">
                        @Html.HiddenFor(Model => Model.Id)
                        @Html.HiddenFor(Model => Model.DateCreated)
                        @Html.HiddenFor(Model => Model.DateUpdated)
                        @Html.HiddenFor(Model => Model.UserCreated)
                        @Html.HiddenFor(Model => Model.UserUpdated)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">First name</label>
                                    @Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-control", placeholder = "First name" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Last name</label>
                                    @Html.TextBoxFor(Model => Model.LastName, new { @class = "form-control", placeholder = "Last name" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Address</label>
                                    @Html.TextBoxFor(Model => Model.Address, new { @class = "form-control", placeholder = "Address" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Email</label>
                                    @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", placeholder = "Email" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Phone</label>
                                    @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control", placeholder = "Phone" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Birthday</label>
                                    <div class="input-group date" data-provide="datepicker">
                                        @Html.TextBoxFor(Model => Model.Birthday, new { @class = "form-control", placeholder = "DOB" })
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Full name</label>
                                    @Html.TextBoxFor(Model => Model.FullName, new { @class = "form-control", placeholder = "Full name" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Citizen identification</label>
                                    @Html.TextBoxFor(Model => Model.CitizenIdentification, new { @class = "form-control", placeholder = "Indentification" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Passport</label>
                                    @Html.TextBoxFor(Model => Model.Passport, new { @class = "form-control", placeholder = "Passport" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Point</label>
                                    @Html.TextBoxFor(Model => Model.Points, new { @class = "form-control", placeholder = "Point" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Account</label>
                                    @Html.TextBoxFor(Model => Model.Account, new { @class = "form-control", placeholder = "Account" })
                                </div>
                                <div class="form-group">
                                    <label for="name">Password</label>
                                    @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function onSaveChange() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("SaveChange","Config")",
            data: $("#configInfor").serialize(),
            success: (res) => {
                var messageType = res.split('-')[0];
                var note = res.split('-')[1];
                Notify(messageType.trim(), note);
            }
        });
    }

    function Notify(type, message) {
        switch (type) {
            case "success":
                toastr.success(message);
                break;
            case "info":
                toastr.info(message);
                break;
            case "error":
                toastr.error(message);
                break;
            case "warning":
                toastr.warning(message);
                break;
        }
    }
</script>



